<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section th:replace="~{consultas/fragmentos :: consultas}"></section>

        <div class="container" th:if="${tipoConsulta != null}">
            <div class="alert alert-info mt-3">
                Resultado generado con:
                <strong th:text="${tipoConsulta}">Tipo de consulta</strong>
            </div>
        </div>

        <section th:replace="~{consultas/fragmentos :: tarjetas}"></section>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>
